h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.hero {
  margin: 0;
  padding: 0;
  background: #001821;
  color: #fff;
  font-size: 1rem;
  line-height: 1.42;
  font-family: "Open Sans", helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}

.hero {
    background: url("./../png/el.png") top center no-repeat,url("./../png/Bottom.png") bottom center no-repeat, #001821;
}
.container {
  width: 60%;
  flex-direction: column;

}
.header {
  height: 9.5rem;
  position: relative;
  display: flex;
}
.header > .logo__link {
  margin-top: 1.2rem;
  flex: 0.5;
}
.menu {
  flex: 3;
  margin-top: 1rem;
}
.main__menu {
  display: flex;
}
.menu__el {
  margin-right: 3rem;
}
a:hover {
  cursor: pointer;
}
.menu__el:hover {
  color: rgb(121, 207, 121);
}
.menu__el:nth-child(3) {
  margin-right: 0;
}
.contact__info {
  flex: 3;
}
.contact__info {
  margin-top: 1rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-style: normal;
}
.hover__work {
  font-size: 0.7rem;
}
.title__info {
  margin-bottom: 13.5rem;
}
.title__text {
  font-size: 4rem;
  width: 55%;
  margin-bottom: 1rem;
}

.title__discription {
  font-size: 1.1rem;
  margin-bottom: 2.1rem;
}
.title__buttom {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.9rem 2rem;
  border-radius: 35px;
  background: #f5170e;
}
.tilte__deals {
  font-size: 2.25rem;

  margin-bottom: 1.75rem;
}
.list__deals {
  display: flex;
  align-items: center;
  justify-content: center;
}
.deals__menu {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.ul {
  padding-left: 0;
  margin-left: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}
:root {
  --width--icon: 16.7rem;
  --height--icon: 22rem;
  --marging--left--right--bottom: 15px;
  --width--icon--news: 20rem;
}
.list__deals {
    width: max-content;
    margin: 0;
}
.deals__el {
  width: var(--width--icon);
  height: var(--height--icon);
  background: #fff;
  border-radius: 5px;
  color: #303030;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: var(--width--icon);
}
.deals__menu {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.deals__el:last-child {
  margin-right: 0;
}
.wrapper__img {
  margin-bottom: 10px;
}
.deals__link {
  display: flex;
  flex-direction: column;
}
.deals__img {
  width: var(--width--icon);
}
.deals__title {
  margin-left: var(--marging--left--right--bottom);
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.deals__short__discription {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;

  margin-right: var(--marging--left--right--bottom);
  margin-left: var(--marging--left--right--bottom);
}
.deals__time {
  display: flex;
  flex: 1;
  margin-right: 10px;
}
.deals__food {
  display: flex;
  align-items: center;
  flex: 1;
}
.time__img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.food__img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.deals__discription {
  margin-right: var(--marging--left--right--bottom);
  margin-left: var(--marging--left--right--bottom);
  margin-bottom: 10px;
}
.deals__button {
  display: block;
  margin-right: var(--marging--left--right--bottom);
  margin-left: var(--marging--left--right--bottom);
  padding: 0.7rem 2rem;
  border-radius: 35px;
  background: #f5170e;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  width: 30%;
}
.deals__button--white {
  background: #fff;
  border: #f5170e solid 1px;
}
.deals__button--red {
    background: #f5170e;
    color: white;
}
.news__title{
    font-size: 2.25rem;
}   
.news__menu {
    margin-bottom: 3rem;
}
.news__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}
.news__el {
    width:var(--width--icon--news);
    background: url("./../png/plane.png") 100% 100%;
    height: 304px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 48%;
    border-radius: 10px;
}
.news__el:last-child {
    background: url("./../png/Surfer.png") 100% 100%;
}
.news__link {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.news__date {
    margin-bottom: 10px;
}
.news__name {
    margin-bottom: 10px;
}
.news {
     width: 100%;
     margin-bottom: 6.35rem;
}
.pages {
    display: flex;
    padding: 0;
    align-items: center;
}
.pages__list {
    display: flex;
}
.pages__menu {
    margin: 0;
    display: flex;
}
.pages__el {
    width: 17px;
    text-align: center;
    margin-right: 10px;
    
}
.pages__el:hover {
    color: #F5170E;
    background: #fff;
    border-radius: 50%;
}
.pages__el--active {
    background: #fff;
    border-radius: 50%;
    color: black;
}
.wrapper__news__pages {
    display: flex;
    justify-content: center;
}
.about__us:before {
    content: "";
    display: block;
    width: 488px;
    height:502px;
    background: url("./../png/bike.png") center center / cover no-repeat;
}
.about__discr {
    background: url("./../png/mountains.png") center center / cover no-repeat;
    padding: 80px 98px;
    display: block;
    width: 400px;
    margin-top: -104px;
    margin-left: 300px;
    color: black;
}
.about__us__title {
    font-weight: bold;
    font-size: 25px;
}
.about__us__button {
    display: block;
    padding: 0.8rem 1.6rem;
    border-radius: 35px;
    background: #f5170e;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    width: 30%;
    color: #fff;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .menu {
    flex:2;
}
.footer .soshial {
    flex: 1;
}
.footer .soshial__menu {
    display: flex;
    
    justify-content: space-between;
    margin-right: 30px;
}
.footer .contact__info {
    flex: 1;
    font-size: 1.1rem;
}